
{% extends "base.html" %}

{% block start %}


<div class="container mt-5">
    {% if s > 0 %}

    <a href="{% url 'see_blog' %}" class="btn btn-warning">View Your blogs</a>
    
{% endif%}
    <a href="{% url 'draft' %}" class="btn btn-warning">View Your Draft</a>
    <form method="post" class="mt-5 pt-5 mb-5 pb-5"
          enctype="multipart/form-data" action="{% url 'add_blog' %}">
          
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <label>Enter blog title</label>
                <input type="text" class="form-control" placeholder="Enter title" name="title" maxlength="100" pattern="[A-Za-z ]+" title="Please enter only letters (maximum 100 characters)" required>

            </div>
            <div class="col-md-12">
                <label>Author</label>
                <p>{{user.name}}</p>
            </div>

            <div class="col-md-12">
                {{form.media}}{% if field.field.required %}<span class="required-field">*</span>{% endif %}
                {{form.as_p}}{% if field.field.required %}<span class="required-field">*</span>{% endif %}
            </div>

            <div class="col-md-12">
                <input type="file" name="image" class="form-control" accept="image/*" required="required" >
            </div>

        </div>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <script>
                // Automatically hide success messages after 5 seconds (adjust the duration as needed)
                setTimeout(function() {
                    var messages = document.getElementsByClassName('alert-success');
                    for (var i = 0; i < messages.length; i++) {
                        messages[i].style.display = 'none';
                    }
                }, 3000);
            </script>
        {% endif %}


        <button type="submit" name="blog" class="btn btn-primary mt-4">Create Blog </button>
        <button type="submit" name="draft" class="btn btn-primary mt-4">Save to Draft</button>

    </form>

</div>


{% endblock %}