{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Admin Home - Blog Publishing Website</title>
    <link rel="stylesheet" href="{% static './style/css/admin_main.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Admin Home</h1>
      <ul>
        <li><a href="admin.php">Publish Blogs</a></li>
        <li><a href="feedback.php">View Feedback</a></li>
        <li><a href="#">Manage Users</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </body>
</html>
