
{% extends "base.html" %}

{% block start %}


<section class="mt-5 pt-5">
    <div class="container">
       
        <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Blog title</th>
            <th scope="col">Created at</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for draf in draf %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{draf.title}}</td>
            <td>{{draf.created_at}}</td>
            <td>
                <a href="{%  url 'draft_update' draf.slug  %}" class="btn btn-success">Continue to write</a>
                <a href="{% url 'draft_delete' draf.id %}" class="btn btn-danger">Delete</a>


            </td>
          </tr>
          {% endfor %}
         

          </tbody>
          </table>
          
    </div>
</section>



{% endblock %}