<!DOCTYPE html>
<html>
	{% load static %}
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>profile</title>
		<link rel="stylesheet" href="{% static './style/css/profile.css' %}">
		</head>
		<body>
			{% for i in user %}
			<div class="container">
				<div class="profile-card">
					<img src="static/style/images/back2.png" class="cover-pic">
					{% if i.profile_pic %}
                		<img src="../media/{{i.profile_pic}}" class="profile-pic">
            		{% else %}
                		<img src="{% static '/style/images/icon.png' %}" class="profile-pic">
            		{% endif %}
					<!-- <img src="../media/{{i.profile_pic}}" class="profile-pic"> -->
					<h1>{{i.name }}</h1>
					<p>{{ i.username }}</p>
					<a href="edit_profile" class="follow-btn">Edit</a>

					<div class="row">
						<div>
							<h2 style="text-align: center; font-size: 36px; font-weight: bold; color: #000000; ">Blogs</h2>
							<h2>{{num}}</h2>
						</div>
					</div>

				</div>
				{% endfor %}
			</div>
		</body>
	</html>